In [1]:
import pandas as pd
import numpy as np

# for visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("final_data.csv")

In [3]:
df.shape

(374, 19)

In [4]:
df.isnull().sum()

company_name           0
location               0
job_title              0
job_description        0
rating                53
employer_estimate      0
min_salary             0
max_salary             0
avg_salary             0
Size                  51
Founded               51
Type                  51
Industry              51
Sector                51
Revenue               51
skills                 1
age                  106
seniority              0
job_simp               0
dtype: int64

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.columns

Index(['company_name', 'location', 'job_title', 'job_description', 'rating',
       'employer_estimate', 'min_salary', 'max_salary', 'avg_salary', 'Size',
       'Founded', 'Type', 'Industry', 'Sector', 'Revenue', 'skills', 'age',
       'seniority', 'job_simp'],
      dtype='object')

In [7]:
df.drop(columns = ['job_title', 'min_salary', 'max_salary'], inplace = True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   company_name       374 non-null    object
 1   location           374 non-null    object
 2   job_description    374 non-null    object
 3   rating             321 non-null    float64
 4   employer_estimate  374 non-null    int64
 5   avg_salary         374 non-null    float64
 6   Size               323 non-null    object
 7   Founded            323 non-null    object
 8   Type               323 non-null    object
 9   Industry           323 non-null    object
 10  Sector             323 non-null    object
 11  Revenue            323 non-null    object
 12  skills             373 non-null    object
 13  age                268 non-null    float64
 14  seniority          374 non-null    float64
 15  job_simp           374 non-null    object
dtypes: float64(4), int64(1), object(11)
memory usage: 46.9+ KB

## Train Test split

In [9]:
# Filter once for training data
train_data = df[df['avg_salary'] != -1]

# Now split into features (xtrain) and target (ytrain) this was required for the modelling phase purpose but since we are still in eda phase,
# we can scale both features and target column together
xtrain = train_data.drop('avg_salary', axis=1)
ytrain = train_data['avg_salary']  # Selecting a single column doesn't need .loc

# For test data
xtest = df[df['avg_salary'] == -1].drop('avg_salary', axis=1)

In [10]:
xtrain.shape, ytrain.shape, xtest.shape

((173, 15), (173,), (201, 15))

## Scaling

In [11]:
df.columns

Index(['company_name', 'location', 'job_description', 'rating',
       'employer_estimate', 'avg_salary', 'Size', 'Founded', 'Type',
       'Industry', 'Sector', 'Revenue', 'skills', 'age', 'seniority',
       'job_simp'],
      dtype='object')

In [12]:
cols_scale_train = xtrain.select_dtypes('number').drop(columns = ['employer_estimate', 'seniority'])
cols_scale_test = xtest.select_dtypes('number').drop(columns = ['employer_estimate', 'seniority'])

In [13]:
cols_scale_test

     rating    age
39      4.0  225.0
40      3.5    NaN
41      4.1  164.0
42      3.7   43.0
43      4.6   17.0
..      ...    ...
369     3.9   15.0
370     4.7    NaN
371     NaN    NaN
372     4.3    9.0
373     NaN    NaN

[201 rows x 2 columns]

Introducing a bit of bias , filling rating and age null values with means

In [14]:
cols_scale_train.isna().sum()

rating    24
age       50
dtype: int64

In [15]:
means_train = cols_scale_train.mean()
means_test = cols_scale_test.mean()

In [16]:
cols_scale_train = cols_scale_train.fillna(means_train)
cols_scale_test = cols_scale_test.fillna(means_test)

In [17]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scaler1 = MinMaxScaler()
xtrain_trf = scaler1.fit_transform(cols_scale_train)
xtest_trf = scaler1.transform(cols_scale_test)

In [18]:
type(xtest_trf)

numpy.ndarray

In [19]:
# this is done so that when we merge encoded and scaled columns into one they are merged properly
# but maybe original xtrain wont be required anymore after merging we'll get a new df
xtrain.reset_index(drop = 'first', inplace = True)
xtest.reset_index(drop = 'first', inplace = True)

## Encoding

In [20]:
for col in xtrain.select_dtypes('object').columns:
    print(xtrain[col].value_counts())
    print()

company_name
Boston Consulting Group                       38
ANZ Banking Group                              5
Adobe                                          5
S&P Global                                     4
BOEING                                         4
                                              ..
DTCC                                           1
Mediphore Systems and Technologies Pvt Ltd     1
TE Connectivity                                1
Aristocrat                                     1
Funfull Inc.                                   1
Name: count, Length: 103, dtype: int64

location
Bengaluru             45
Gurgaon               34
Delhi                 19
Pune                  13
Noida                 12
India                 11
Remote                11
Mumbai                 5
Chennai                5
Chandigarh             2
Cochin                 2
Hyderābād              2
Salem                  2
Vadodara               2
Ghaziabad              1
Haryāna                1
Thiruvananthapuram     1
Maharashtra            1
Calcutta               1
Amritsar               1
Ahmedabad              1
Visakhapatnam          1
Name: count, dtype: int64

job_description
You will collaborate with case teams to gather requirements, specify, design, develop, deliver and support analytic solutions serving client needs.…\r\nSkills: Microsoft Powerpoint, Supply chain, Spark, Alteryx, Analysis skills              3
Keep pace with industry trends to ensure our cloud data center designs and infrastructure layer architectures remain cutting-edge and client-focused.…\r\nSkills: Azure, Cloud architecture, PCI, Kubernetes, Big data                           3
Our data analytics and artificial intelligence professionals mix deep domain expertise with advanced analytical methods and techniques to develop innovative……\r\nSkills: Microsoft Powerpoint, Statistics, Power BI, Microsoft Access, Azure    3
You'll be responsible for the design, build and maintenance of tools that enable our Support Engineers and related teams to be more effective and efficient at……\r\nSkills: Software deployment, Microservices, SQL, Docker, Machine learning    3
Agile Coaches and Scrum Leads, that will ensure that you adopt agile principles, mindset and ways of working into your daily routine and who will coach you……\r\nSkills: CI/CD, Cloud infrastructure, Azure, Node.js, React                      3
                                                                                                                                                                                                                                                ..
At ANZ, our Security Domain is tasked with making ANZ a safe and more secure place by ensuring our corporate and customer information is secured.…\r\nSkills: Kubernetes, Information security, AWS, Scalability, Agile                          1
Education/experience typically acquired through advanced education (e.g. Bachelor) and typically 5 years' related work experience or an equivalent combination……\r\nSkills: CI/CD, ASP.NET, SAFe, Azure, Gradle                                  1
To design and develop HTML5/Typescript based class 3 real money digital Games with Java backend for markets across the Globe and be responsible for ensuring……\r\nSkills: Data structures, iOS, Android, Java, Application development           1
Design and implementation of data storage solutions using MongoDB. Minimum 3 years of experience as a MEAN Stack Developer or similar role.…\r\nSkills: AJAX, Node.js, CSS, Software troubleshooting, Software deployment                        1
Develops a technical strategy for data integrations and implement a scalable design using industry best practices. Support project teams during testing.…\r\nSkills: Azure, MVC, Cloud architecture, SAP, Google Cloud Platform                  1
Name: count, Length: 156, dtype: int64

Size
10000+ Employees           86
1 to 50 Employees          15
5001 to 10000 Employees    13
51 to 200 Employees        12
201 to 500 Employees        9
Unknown                     7
1001 to 5000 Employees      7
501 to 1000 Employees       1
Name: count, dtype: int64

Founded
1963    38
--      27
1982     6
1835     5
1860     4
1850     4
1916     4
2016     3
2002     3
2017     3
2023     3
2007     3
2015     3
1999     3
1837     2
1994     2
2014     2
1995     2
2009     2
1880     2
1973     2
1989     2
1727     1
1926     1
1841     1
2022     1
1988     1
1799     1
2020     1
1981     1
2008     1
1938     1
1925     1
1987     1
1969     1
2019     1
1849     1
1985     1
1977     1
1915     1
1947     1
1690     1
2011     1
2013     1
1870     1
1997     1
1953     1
Name: count, dtype: int64

Type
Company - Private                 90
Company - Public                  58
Subsidiary or Business Segment     2
Name: count, dtype: int64

Industry
Business consulting                        43
--                                         21
Information Technology Support Services    19
Banking & Lending                           9
Research and development                    7
Financial Transaction Processing            6
Computer Hardware Development               6
Biotech & Pharmaceuticals                   6
Enterprise Software & Network Solutions     5
Software Development                        5
Aerospace and defence                       4
Consumer Product Manufacturing              3
Investment & Asset Management               2
Machinery Manufacturing                     2
Internet & Web Services                     2
HR Consulting                               2
Electronics Manufacturing                   2
Advertising & Public Relations              1
Healthcare Services & Hospitals             1
Publishing                                  1
Travel Agencies                             1
Telecommunications Services                 1
Gambling & Betting                          1
Name: count, dtype: int64

Sector
Management and consulting             50
Information Technology                37
--                                    21
Finance                               17
Manufacturing                          7
Pharmaceutical and biotechnology       6
Aerospace and defence                  4
Media and communication                2
Human resources and staffing           2
Healthcare                             1
Hotel and travel accommodation         1
Telecommunications                     1
Arts, entertainment and recreation     1
Name: count, dtype: int64

Revenue
Unknown / Non-Applicable            54
$5 to $10 billion (USD)             42
$10+ billion (USD)                  32
$2 to $5 billion (USD)              13
$5 to $25 million (USD)              3
$100 to $500 million (USD)           3
Less than $1 million (USD)           1
$500 million to $1 billion (USD)     1
$1 to $5 million (USD)               1
Name: count, dtype: int64

skills
Data science                                                           5
Microsoft Powerpoint, Statistics, Power BI, Microsoft Access, Azure    4
Microsoft Powerpoint, Supply chain, Spark, Alteryx, Analysis skills    3
Azure, Cloud architecture, PCI, Kubernetes, Big data                   3
Oracle, XML, Spark, NoSQL, MongoDB                                     3
                                                                      ..
Kubernetes, Information security, AWS, Scalability, Agile              1
CI/CD, ASP.NET, SAFe, Azure, Gradle                                    1
Data structures, iOS, Android, Java, Application development           1
AJAX, Node.js, CSS, Software troubleshooting, Software deployment      1
Azure, MVC, Cloud architecture, SAP, Google Cloud Platform             1
Name: count, Length: 149, dtype: int64

job_simp
data scientist               63
analyst                      35
software developer           15
data engineer                13
other                         7
machine learning engineer     7
data architect                7
intern                        6
manager                       6
nlp engineer                  5
ai engineer                   3
manager data scientist        2
director                      2
cloud related                 1
data related                  1
Name: count, dtype: int64

### Problems encountered : 
1) how to deal with description col with many lines
2) how to deal with cols with hundreds of categories - maybe we can make a new category as other
3) how to deal with skills col - like we want the model should capture the importance of each skill type on the salary - so what should be done how it should be encoded ? as separate skill tag each or according to the value counts output with around 100 categoies ..

In [21]:
# lets try one hot encoding
pd.get_dummies(df, columns = xtrain.select_dtypes('object').columns, drop_first = True).columns[200:600]

Index(['job_description_Bachelor’s degree in computer science, Statistics, Mathematics, or related field; master’s degree preferred. Work on LLM/Gen AI based applications.…\r\nSkills: Machine learning, Natural language processing, Data science, AI, Communication skills',
       'job_description_Bachelor’s degree or higher in computer science or other closely related fields. Exhibits confidence and an extensive knowledge of emerging industry practices……\r\nSkills: MATLAB, Big data, Mobile applications, Business analysis, System design',
       'job_description_Bachelor’s degree or higher in computer science, aerospace or other closely related field and 3-4 or more years' related work experience.…\r\nSkills: CI/CD, Azure, Rust, Go, Node.js',
       'job_description_Based on their interests and our business needs, interns will be placed in roles that best suit them. Thorough grasp of computer science principles.…\r\nSkills: Computer science, C#, .NET, Analysis skills, Math',
       'job_description_Being the bridge between the delivery programmes, product teams and platform teams, and will build strong internal and external relations that help drive……\r\nSkills: Software deployment, Databases, Business requirements, Solution architecture',
       'job_description_Benchmarking: Conduct benchmarking studies to compare the performance of different prompts and identify best practices.…\r\nSkills: TensorFlow, Machine learning, Natural language processing, Data science, AI',
       'job_description_Build data science solutions for multiple business use cases. Initiate, design and implement innovative capabilities in the field of data science and data……\r\nSkills: Software deployment, SQL, Analysis skills, Presentation skills, Machine learning',
       'job_description_Building capabilities that address a market need, basis our ongoing research efforts. Solving a specific use case for a current or potential client based on……\r\nSkills: Data analysis skills, Apache Hive, SQL, Analysis skills, Presentation skills',
       'job_description_Certification or experience in data analysis, data mining, and statistical modelling is an added advantage. Familiarity with Jira and Agile methodology will be……\r\nSkills: Jira, TensorFlow, Computer science, Power BI, Data mining',
       'job_description_Collaborate with Enterprise Architects and other Solution Architects and engineers to architect and design technical solutions that are aligned with enterprise……\r\nSkills: Azure, Application development, AWS, Data management, APIs',
       ...
       'skills_ Microsoft Powerpoint, Supply chain, Spark, Alteryx, Analysis skills',
       'skills_ Microsoft Powerpoint, TensorFlow, Microsoft Excel, Microsoft Access, R',
       'skills_ Node.js, Data structures, iOS, Android, Application development',
       'skills_ Node.js, React, Software deployment, Angular, Django',
       'skills_ Ontology, Azure, AWS, Analysis skills, Machine learning',
       'skills_ Operating systems, Management, Information security, Analysis skills, Incident response',
       'skills_ Oracle, Software troubleshooting',
       'skills_ Oracle, XML, Spark, NoSQL, MongoDB',
       'skills_ Performance tuning, Data modeling, Azure, Spark, NoSQL',
       'skills_ Power BI, Azure, Big data, Spark, R'],
      dtype='object', length=400)

## Modeling

In [22]:
-m python --version

SyntaxError: invalid syntax (3224696157.py, line 1)

In [40]:
pip install --upgrade pip

Requirement already satisfied: pip in d:\program files\python\lib\site-packages (24.2)
Collecting pip
  Downloading pip-24.3.1-py3-none-any.whl.metadata (3.7 kB)
Downloading pip-24.3.1-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ----------------- ---------------------- 0.8/1.8 MB 5.1 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 5.2 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.2
    Uninstalling pip-24.2:
      Successfully uninstalled pip-24.2
Successfully installed pip-24.3.1
Note: you may need to restart the kernel to use updated packages.

In [23]:
!pip install tensorflow

ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none)
ERROR: No matching distribution found for tensorflow

In [36]:
from tensorflow import keras

ModuleNotFoundError: No module named 'tensorflow'

## Cross validation and hyperparameter tuning

## Evaluation