In [12]:
import pandas as pd
import numpy as np

import warnings 
warnings.filterwarnings('ignore')

In [13]:
df = pd.read_csv("DataScientist.csv", usecols = lambda x : x != "Unnamed: 0")

In [14]:
df.duplicated().sum()

0

In [15]:
df.columns

Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply'],
      dtype='object')

In [16]:
df.drop(['index','Easy Apply'],axis = 1, inplace = True)#.duplicated().sum()

In [17]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Senior Data Scientist,$111K-$181K (Glassdoor est.),"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New York, NY","Montreal, Canada",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,-1
1,"Data Scientist, Product Analytics",$111K-$181K (Glassdoor est.),"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New York, NY","New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,-1
2,Data Science Manager,$111K-$181K (Glassdoor est.),Decode_M\n\nhttps://www.decode-m.com/\n\nData ...,-1.0,Decode_M,"New York, NY","New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1
3,Data Analyst,$111K-$181K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,"Zocdoc, Healthgrades"
4,"Director, Data Science",$111K-$181K (Glassdoor est.),"Director, Data Science - (200537)\nDescription...",3.4,United Entertainment Group\n3.4,"New York, NY","New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"BBDO, Grey Group, Droga5"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3904,AWS Data Engineer,$55K-$112K (Glassdoor est.),About Us\n\nTachyon Technologies is a Digital ...,4.4,Tachyon Technologies\n4.4,"Dublin, OH","Irving, TX",201 to 500 employees,2011,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),-1
3905,Data Analyst â Junior,$55K-$112K (Glassdoor est.),"Job description\nInterpret data, analyze resul...",5.0,"Staffigo Technical Services, LLC\n5.0","Columbus, OH","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1
3906,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),Job DescriptionThe Security Analytics Data Eng...,3.8,"PDS Tech, Inc.\n3.8","Dublin, OH","Irving, TX",5001 to 10000 employees,1977,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),-1
3907,Security Analytics Data Engineer,$55K-$112K (Glassdoor est.),The Security Analytics Data Engineer will inte...,4.0,Data Resource Technologies\n4.0,"Dublin, OH","Omaha, NE",1 to 50 employees,-1,Company - Private,Accounting,Accounting & Legal,Less than $1 million (USD),-1
3908,Patient Safety Physician or Safety Scientist -...,$55K-$112K (Glassdoor est.),"Help us transform patients' lives.\nAt UCB, we...",3.7,UCB\n3.7,"Slough, OH","Brussel, Belgium",5001 to 10000 employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$2 to $5 billion (USD),AbbVie

### Correcting the salary estimate column

### Correcting company name

### Matching location and headquarters if they are in same state , after correclty writing their cols

### Finding age of the company

### Extracting skills etc from Job Description

In [20]:
df['Job Description'][0].split('\n')

['ABOUT HOPPER',
 '',
 'At Hopper, we’re on a mission to make booking travel faster, easier, and more transparent. We are leveraging the power that comes from combining massive amounts of data and machine learning to build the world’s fastest-growing travel app -- one that enables our customers to save money and travel more. With over $235M CAD in funding from leading investors in both Canada and the US, Hopper is primed to continue its path toward becoming the go-to way to book travel as the world continues its shift to mobile.',
 '',
 'Recognized as the fastest-growing travel app by Forbes and one of the world’s most innovative companies by Fast Company two years in a row, Hopper has been downloaded over 40 million times and has helped travelers plan over 100 million trips and counting. The app has received high praise in the form of mobile accolades such as the Webby Award for Best Travel App of 2019, the Google Play Award for Standout Startup of 2016 and Apple’s App Store Best of 2015.',
 '',
 'Take off with us!',
 '',
 'THE ROLE',
 '',
 'Hopper is looking for a data-savvy individual to join our team as a Data Scientist and lead data-centric product development and complex business intelligence projects within our core air travel business unit. Every day you would draw powerful insights from our real-time feed of billions of flight search results and archives of several trillion data points. To succeed at Hopper you need the talent, passion, and experience to thrive in a highly performing company.',
 'IN THIS ROLE YOU WILL:',
 'Frame and conduct complex exploratory analyses needed to deepen our understanding of Hopper users.',
 'Partner with product, business and strategy teams to leverage this user understanding for product improvements and other initiatives',
 'Use machine learning and big data tools on tremendously large and complex data sets to enhance our data-driven, personalized travel advice',
 'Conduct research into various aspects of our business and employ statistical and modeling techniques when appropriate to make recommendations to non-technical stakeholders',
 'Create advanced dashboards for product experiment tracking and business unit performance analysis using Amplitude and Tableau',
 'Find effective ways to simplify and communicate analyses to a non-technical audience.',
 'A PERFECT CANDIDATE HAS:',
 'A degree in Math, Statistics, Computer Science, Engineering or other quantitative disciplines',
 'Extremely strong analytical and problem-solving skills',
 'Proven ability to communicate complex technical work to a non-technical audience',
 'A strong passion for and extensive experience in conducting empirical research and answering hard questions with data',
 'Experience with a data visualization tool (Tableau preferred) and project analysis tool such as Amplitude',
 'Experience with relational databases and SQL, especially Hive',
 'Experience working with extremely large data sets',
 'Experience in Pandas, R, SAS or other tools appropriate for large scale data preparation and analysis',
 'Experience with data mining, machine learning, statistical modeling tools and underlying algorithms',
 'Proficiency with Unix/Linux environments',
 'BENEFITS',
 '',
 '• Well-funded and proven startup with large ambitions, competitive salary and stock options',
 '• Dynamic and entrepreneurial team where pushing limits is everyday business',
 '• 100% employer paid medical, dental, vision, disability and life insurance plans',
 '• Access to a 401k (US) or Retirement Savings Plan (Canada)']